<div class="container-login100" style="background-image: url('../assets/images/bg.jpg');">
    <div class="wrap-home p-l-55 p-r-55 p-t-80 p-b-30">

        <div class="header-title">
            <span class="page-admin-title">Welcome {{userWallet.username}}
            </span>
            <button class="btn btn-outline-danger header-button-row" (click)="logout()" type="button"><i
                    class="fa fa-sign-out"></i>Logout</button>
        </div>
        <div>
            <h5>Balance: {{ userWallet.balance }}</h5>
          </div>

        <!-- <div class="row align-items-center">
            <button class="btn btn-outline-primary" (click)="openInput()" type="button"></button>
        </div> -->

        <div class="row align-items-center">
            <!--<Primeng-Datatable-Start>-->
            <div class="primeng-datatable-container">
                <p-table *ngIf="visible" #dataTable [value]="userRequests" [paginator]="false" [lazy]="true" [scrollable]="true"
                    ScrollWidth="100%" scrollHeight="265px">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 80px; text-align: center;">
                                Action
                            </th>
                            <th style="width: 150px;">
                                User Address
                            </th>
                            <th style="width: 150px;">
                                UserName
                            </th>
                            <th style="width: 150px;">
                                Product Name
                            </th>
                            <th style="width: 150px;">
                                Quantity
                            </th>
                            <th style="width: 150px;">
                                Total
                            </th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-record="$implicit">
                        <tr>
                            <td style="width: 80px; text-align: center;">
                                <button class="btn btn-outline-primary" (click)="openInput(record)" type="button"
                                    style="text-align: center;">
                                    <i class="fa fa-cogs"></i>
                                    <span class="caret"></span> Handle
                                </button>
                            </td>
                            <td style="width: 150px; word-wrap: break-word;">
                                {{record.userAddress}}
                            </td>
                            <td style="width: 150px; word-wrap: break-word;">
                                {{record.username}}
                            </td>
                            <td style="width: 150px; word-wrap: break-word;">
                                {{record.productName}}
                            </td>
                            <td style="width: 150px; word-wrap: break-word;">
                                {{record.quantity}}
                            </td>
                            <td style="width: 150px; word-wrap: break-word;">
                                {{record.total}}
                            </td>

                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <div class="history">
                <div class="btn-group">
                  <button
                    (click)="getListHistory()"
                    type="button"
                    class="btn btn-outline-primary historyBtn"
                  >
                    History
                  </button>
                  <button
                    (click)="getSuccessfulList()"
                    type="button"
                    class="btn btn-outline-primary successListBtn"
                  >
                    Successful Transactions
                  </button>
                </div>
          
                <ul *ngFor="let transaction of listHistory" [hidden]="isDisplay">
                  <li>{{ transaction }}</li>
                </ul>
                <ul *ngFor="let output of successfulList" [hidden]="isShow">
                  <li>{{ output }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<sellerInputModal #sellerInputModal (resetList)="updateTable()"></sellerInputModal>