<div bsModal (onShown)="shown()" #supplierInputComponentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="supplierInputComponentModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="top:140px;">

            <form [formGroup]="formSupplierInput" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <label>Transaction</label>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-row">

                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label for="productCode">Product Code</label>
                            <input type="text" id="productCode" (input)="uppercaseAll($event)"
                                formControlName="productCode" [(ngModel)]="productCode" class="form-control"
                                name="productCode" minlength="0" maxlength="50" />
                            <div class="valid-height">
                                <validation [control]="formSupplierInput.get('productCode')"></validation>
                            </div>
                        </div>

                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label for="productName">Product Name</label>

                            <ng-select #ProductOptions [items]="selectItems" id="productName"
                                bindValue="displayName" bindLabel="displayName" [(ngModel)]="productName"
                                formControlName="productName" name="productName" placeholder="--Choose your item--">
                            </ng-select>
                            <div class="valid-height">
                                <validation [control]="formSupplierInput.get('productName')"></validation>
                            </div>
                        </div>

                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label>Quantity of Product</label>
                            <input type="text" id="quantityOfConsignment" formControlName="quantityOfConsignment"
                                [(ngModel)]="quantityOfConsignment" class="form-control" name="quantityOfConsignment"
                                maxlength="12"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                onkeypress="javascript: if ( event.keyCode > 31 && (event.keyCode < 48 || event.keyCode > 57)) return false;" />
                            <div class="valid-height">
                                <validation [control]="formSupplierInput.get('quantityOfConsignment')"></validation>
                            </div>
                        </div>

                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label>Amount</label>
                            <input type="text" id="amount" formControlName="amount" [(ngModel)]="amount"
                                class="form-control" name="amount" maxlength="15"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                onkeypress="javascript: if ( event.keyCode > 31 && (event.keyCode < 48 || event.keyCode > 57)) return false;" />
                            <div class="valid-height">
                                <validation [control]="formSupplierInput.get('amount')"></validation>
                            </div>
                        </div>

                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label>Manufacturing Date</label>

                            <input #dpManDate type="text" class="form-control" style="float:none"
                                placeholder="Select a date" ngx-mydatepicker name="manufacturingDate"
                                formControlName="manufacturingDate" id="manufacturingDate" [options]="dpOptions"
                                #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)"
                                (click)="dp.toggleCalendar()" minlength="0" maxlength="20" />

                            <i class="fa fa-calendar" style="position: absolute; right: 0.9375em; bottom: 1.7em;"
                                (click)="dp.toggleCalendar()"></i>
                            <div class="valid-height">
                                <validation [control]="formSupplierInput.get('manufacturingDate')"></validation>
                            </div>
                        </div>

                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label>Expiry</label>

                            <input #dpExpiry type="text" class="form-control" style="float: none"
                                placeholder="Select a date" ngx-mydatepicker name="expiry" formControlName="expiry"
                                id="expiry" [options]="dpOptions" #dp1="ngx-mydatepicker"
                                (dateChanged)="onDateChanged1($event)" (click)="dp1.toggleCalendar()" />
                            <i class="fa fa-calendar" style="position: absolute; right: 0.9375em; bottom: 1.7em;"
                                (click)="dp1.toggleCalendar()"></i>
                            <div class="valid-height">
                                <validation [control]="formSupplierInput.get('expiry')"></validation>
                            </div>
                        </div>

                        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <label>Manufacturer</label>
                            <input type="text" id="manufacturer" [(ngModel)]="manufacturer"
                                formControlName="manufacturer" class="form-control" name="manufacturer"
                                maxlength="255" />
                            <div class="valid-height">
                                <validation [control]="formSupplierInput.get('manufacturer')"></validation>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary blue" [disabled]="saving">
                        <i class="fa fa-save"></i>
                        <span class="caret"></span> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>