<div class="container-login100" style="background-image: url('../assets/images/bg-01.jpg');">
  <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <form class="login100-form validate-form">
      <span class="login100-form-title p-b-37">
        Sign In
      </span>

      <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username">
        <input name="username" [(ngModel)]="username" type="text" class="input100" class="form-control" placeholder="Username" required autofocus>
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
        <input name="password" [(ngModel)]="password" type="password" class="input100" class="form-control" placeholder="Password" required>
        <span class="focus-input100"></span>
      </div>

      <div class="container-login100-form-btn">
        <button class="login100-form-btn" (click)="validateLogin();" type="button">
          Sign In
        </button>
      </div>

      <div class="text-center p-t-57 p-b-20">
      </div>

      <div class="text-center">
        <a href="./assets/#" class="txt2 hov1">
          Sign Up
        </a>
      </div>
    </form>

    
  </div>
</div>