<div bsModal #ProductDetailComponentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="ProductDetailComponentModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="top:60px;">

            <form [formGroup]="formProductDetail" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <label>Product Detail Tracker</label>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <h5 *ngIf="typeTransaction=='Import'" class="body-header">Imported From {{supplierName}}</h5>

                    <h5 *ngIf="typeTransaction=='SellC'||typeTransaction=='Buy'||typeTransaction=='Sell'" class="body-header">Supplier: {{supplierName}}</h5>

                    <br />

                    <div class="form-row">

                        <ng-container id="iptDetailSByReq" *ngIf="userWallet.role!='user'&&typeTransaction=='Import'">
                            <div style="margin-left: 25%;" *ngFor="let detail of detailForSeller"
                                class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <table>
                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-coffee fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Product Name</h6>
                                                    {{detail.productName}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-barcode fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Product Code</h6>
                                                    {{detail.productCode}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-database fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Quantity</h6>
                                                    {{detail.quantityOfProduct}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-usd fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Amount</h6>
                                                    {{detail.totalAmount}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-calendar-plus-o fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Manufacturing Date</h6>
                                                    {{detail.manufacturingDate}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-cart-arrow-down fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Transacted Date</h6>
                                                    {{soldDateImport}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-calendar-times-o fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Expiry</h6>
                                                    {{detail.expiryDate}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-industry fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Manufacturer</h6>
                                                    {{detail.manufacturer}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </ng-container>

                        <ng-container id="sellDetailSByReq" *ngIf="typeTransaction=='Sell'">
                            <div style="margin-left: 25%;" class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6"
                                *ngFor="let reqDetail of detailByReq">
                                <table>
                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-coffee fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Product Name</h6>
                                                    {{reqDetail.productInfoFromSupplier.productInfo.productName}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-barcode fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Product Code</h6>
                                                    {{reqDetail.productInfoFromSupplier.productInfo.productCode}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-database fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Quantity</h6>
                                                    {{reqDetail.productInfoFromSupplier.productInfo.quantityOfProduct}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <!-- <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-usd fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Amount</h6>
                                                    {{reqDetail.productInfoFromSupplier.productInfo.amount}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr> -->

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-calendar-plus-o fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Manufacturing Date</h6>
                                                    {{reqDetail.productInfoFromSupplier.productInfo.manufacturingDate}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-cart-arrow-down fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Transacted Date</h6>
                                                    {{soldDateSell}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-calendar-times-o fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Expiry</h6>
                                                    {{reqDetail.productInfoFromSupplier.productInfo.expiry}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-industry fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Manufacturer</h6>
                                                    {{reqDetail.productInfoFromSupplier.productInfo.manufacturer}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </ng-container>

                        <ng-container id="sellDetailSByCode" *ngIf="typeTransaction=='SellC'">
                            <div style="margin-left: 25%;" class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <table>
                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-coffee fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Product Name</h6>
                                                    {{detailForUser.productName}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-barcode fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Product Code</h6>
                                                    {{detailForUser.productCode}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-database fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Quantity</h6>
                                                    {{detailForUser.quantityOfProduct}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <!-- <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-usd fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Amount</h6>
                                                    {{detailForUser.amount}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr> -->

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-calendar-plus-o fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Manufacturing Date</h6>
                                                    {{detailForUser.manufacturingDate}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-cart-arrow-down fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Transacted Date</h6>
                                                    {{soldDateImport1}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-calendar-times-o fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Expiry</h6>
                                                    {{detailForUser.expiryDate}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-industry fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Manufacturer</h6>
                                                    {{detailForUser.manufacturer}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </ng-container>

                        <!-- <ng-container id="detailUByCode" *ngIf="userWallet.role=='user'&&detailForUser!=null">
                            <div style="margin-left: 25%;" class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <table>
                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-coffee fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Product Name</h6>
                                                    {{detailForUser.productName}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-barcode fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Product Code</h6>
                                                    {{detailForUser.productCode}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-database fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Quantity</h6>
                                                    {{detailForUser.quantity}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-calendar-plus-o fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Manufacturing Date</h6>
                                                    {{detailForUser.manufacturingDate}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-cart-arrow-down fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Transacted Date</h6>
                                                    {{soldDateImport1}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-calendar-times-o fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Expiry</h6>
                                                    {{detailForUser.expiry}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-industry fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Manufacturer</h6>
                                                    {{detailForUser.manufacturer}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </ng-container> -->

                        <ng-container id="detailSByCode" *ngIf="userWallet.role!='user'&&typeTransaction=='Buy'">
                            <div style="margin-left: 25%;" class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <table>
                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-coffee fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Product Name</h6>
                                                    {{detailForUser.productName}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-barcode fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Product Code</h6>
                                                    {{detailForUser.productCode}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-database fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Quantity</h6>
                                                    {{detailForUser.quantityOfProduct}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-usd fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Amount</h6>
                                                    {{detailForUser.totalAmount}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-calendar-plus-o fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Manufacturing Date</h6>
                                                    {{detailForUser.manufacturingDate}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-cart-arrow-down fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Transacted Date</h6>
                                                    {{soldDateSell1}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-calendar-times-o fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Expiry</h6>
                                                    {{detailForUser.expiryDate}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div style="display: inline-block; ">
                                                <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                    class="fa fa-industry fa-2x" aria-hidden="true"></i>&nbsp;
                                                <span style="display: inline-block;">
                                                    <h6>Manufacturer</h6>
                                                    {{detailForUser.manufacturer}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </ng-container>

                    </div>

                    <hr *ngIf="typeTransaction!='Import'" />

                    <!-- <h5 *ngIf="typeTransaction=='Sell'" class="body-header">From Seller</h5> -->

                    <h5 *ngIf="userWallet.role!='user'&&(typeTransaction=='Sell'||typeTransaction=='SellC')" class="body-header">Sold To {{consumerName}}</h5>

                    <h5 *ngIf="userWallet.role=='user'&&(typeTransaction=='SellC'||typeTransaction=='Sell')" class="body-header">Seller: {{sellerName}}</h5>

                    <br />

                    <ng-container id="detailByReq" *ngIf="typeTransaction=='Sell'">
                        <div style="margin-left: 25%;" class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6"
                            *ngFor="let reqDetail1 of detailByReq1">
                            <table>
                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-coffee fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Product Name</h6>
                                                {{reqDetail1.productName}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-barcode fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Product Code</h6>
                                                {{reqDetail1.productCode}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-database fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Quantity</h6>
                                                {{reqDetail1.quantityOfProduct}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <!-- <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-usd fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Amount</h6>
                                                {{reqDetail1.amount}}
                                            </span>
                                        </div>
                                    </td>
                                </tr> -->

                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-calendar-plus-o fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Manufacturing Date</h6>
                                                {{reqDetail1.manufacturingDate}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-cart-arrow-down fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Transacted Date</h6>
                                                {{soldDateSell}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-calendar-times-o fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Expiry</h6>
                                                {{reqDetail1.expiry}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-industry fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Manufacturer</h6>
                                                {{reqDetail1.manufacturer}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </ng-container>

                    <ng-container id="detailByCode" *ngIf="typeTransaction=='SellC'">
                        <div style="margin-left: 25%;" class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <table>
                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-coffee fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Product Name</h6>
                                                {{detailForUser1.productName}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-barcode fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Product Code</h6>
                                                {{detailForUser1.productCode}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-database fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Quantity</h6>
                                                {{detailForUser1.quantityOfProduct}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <!-- <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-usd fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Amount</h6>
                                                {{detailForUser1.amount}}
                                            </span>
                                        </div>
                                    </td>
                                </tr> -->

                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-calendar-plus-o fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Manufacturing Date</h6>
                                                {{detailForUser1.manufacturingDate}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-cart-arrow-down fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Transacted Date</h6>
                                                {{soldDateImport1}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-calendar-times-o fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Expiry</h6>
                                                {{detailForUser1.expiry}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-industry fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Manufacturer</h6>
                                                {{detailForUser1.manufacturer}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </ng-container>

                    <!-- <h5 *ngIf="userWallet.role=='user'" class="body-header">From Seller</h5> -->
                    <!-- <br />
                    <ng-container id="detailForUByCode" *ngIf="userWallet.role=='user'&&detailForUser1!=null">
                        <div style="margin-left: 25%;" class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <table>
                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-coffee fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Product Name</h6>
                                                {{detailForUser1.productName}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-barcode fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Product Code</h6>
                                                {{detailForUser1.productCode}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-database fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Quantity</h6>
                                                {{detailForUser1.quantity}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-calendar-plus-o fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Manufacturing Date</h6>
                                                {{detailForUser1.manufacturingDate}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-cart-arrow-down fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Transacted Date</h6>
                                                {{soldDateSell1}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-calendar-times-o fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Expiry</h6>
                                                {{detailForUser1.expiry}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div style="display: inline-block; ">
                                            <i style="display: inline-block; vertical-align: top; padding-top: 5%;"
                                                class="fa fa-industry fa-2x" aria-hidden="true"></i>&nbsp;
                                            <span style="display: inline-block;">
                                                <h6>Manufacturer</h6>
                                                {{detailForUser1.manufacturer}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </ng-container> -->

                </div>

                <!-- </div> -->

                <div class="modal-footer">
                </div>
            </form>
        </div>
    </div>
</div>