.dropdown {
    position: relative;
    display: inline-block;
}

.header-title {
    position: relative; 
    /* padding: 0.5em 0;  */
    margin-bottom: 0.9375em;
}

.header-button-row {
    position: absolute; 
    right: 0; 
    top: 50%; 
    transform: translateY(-50%);
}