<div class="container-login100" style="background-image: url('../assets/images/bg-06.jpg');">
  <div class="wrap-home p-l-55 p-r-55 p-t-80 p-b-30">
    <div class="header-title">
      <span class="page-admin-title">Welcome {{ userWallet.username }} </span>
      <button class="btn btn-outline-danger header-button-row" (click)="logout()" type="button">
        <i class="fa fa-sign-out"></i>Logout
      </button>
    </div>

    <div>
      <h5>Balance: {{ userWallet.balance }}</h5>
    </div>

    <form [formGroup]="formHome" (onShown)="shown()" novalidate autocomplete="off">
      <div class="form-row">
        <div class="form-group div-align-1 item-form-control col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <label for="userChoice">Coffee</label>
          <ng-select #UserOptions [items]="simpleItems" id="userChoice" [(ngModel)]="userChoice"
            formControlName="userChoice" name="userChoice" placeholder="--Choose coffee--">
          </ng-select>
          <div class="valid-height">
            <validation [control]="formHome.get('userChoice')"></validation>
          </div>

          <label for="quantity">Quantity</label>
          <input name="quantity" [(ngModel)]="buyQuantity" formControlName="quantity" id="quantity" type="text"
            class="form-control item-form-control" placeholder="--Number you want--" maxlength="12"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            onkeypress="javascript: if ( event.keyCode > 31 && (event.keyCode < 48 || event.keyCode > 57)) return false;" />
          <div class="valid-height">
            <validation [control]="formHome.get('quantity')"></validation>
          </div>

          <label for="seller">Seller</label>
          <!-- <ng-select #SellerOptions [items]="sellers"  bindValue="displayName" bindLabel="displayName" id="seller" [(ngModel)]="seller" formControlName="seller"
            name="seller" placeholder="--Choose seller--">
          </ng-select> -->
          <input name="seller" [(ngModel)]="sellerAddress" formControlName="seller" id="seller" type="text"
            class="form-control item-form-control" />
          <div class="valid-height">
            <validation [control]="formHome.get('seller')"></validation>
          </div>

          <br />

          <button (click)="buy()" type="button" class="btn btn-primary blue btn-align">
            <i class="fa fa-cart-arrow-down"></i>
            Buy
          </button>
        </div>

        <hr style="border: none; border-left: 1px solid #140148; height: 30vh; width: 1px;" />

        <div class="form-group div-align-2 item-form-control col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <label for="amount">Amount</label>
          <input name="amount" [(ngModel)]="transferAmount" formControlName="amount" id="amount" type="text"
            class="form-control item-form-control" placeholder="--The amount of money--" maxlength="15"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            onkeypress="javascript: if ( event.keyCode > 31 && (event.keyCode < 48 || event.keyCode > 57)) return false;" />
          <div class="valid-height">
            <validation [control]="formHome.get('amount')"></validation>
          </div>

          <label for="receiver">Receiver's Address</label>
          <input name="receiver" [(ngModel)]="transferReceiver" formControlName="receiver" id="receiver" type="text"
            class="form-control item-form-control" placeholder="--Receiver's Address--" />
          <div class="valid-height">
            <validation [control]="formHome.get('receiver')"></validation>
          </div>

          <br />

          <button (click)="transfer()" type="button" class="btn btn-primary blue btn-align">
            <i class="fa fa-share-square-o"></i>
            Transfer
          </button>
        </div>
      </div>

      <!-- </form> -->

      <div class="history">
        <div class="btn-group">
          <button (click)="getRequests()" type="button" class="btn btn-outline-primary historyBtn">
            Requests
          </button>
          <button (click)="getListHistory()" type="button" class="btn btn-outline-primary historyBtn">
            History
          </button>
          <button (click)="getSuccessfulList()" type="button" class="btn btn-outline-primary successListBtn">
            Successful Transactions
          </button>
        </div>

        <ul *ngFor="let request of listRequest" [hidden]="showRequest">
          <li>{{ request }}</li>
        </ul>
        <ul *ngFor="let transaction of listHistory" [hidden]="isDisplay">
          <li>{{ transaction }}</li>
        </ul>

        <div class="input-group mb-9 form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <input [hidden]="isShow" type="text" id="trackingCode" (input)="uppercaseAll($event)"
            formControlName="trackingCode" [(ngModel)]="trackingCode" class="form-control" name="trackingCode"
            minlength="0" maxlength="50" />
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-primary" [hidden]="isShow">
              <i class="fa fa-search" aria-hidden="true"></i>Tracking
            </button>
          </div>
        </div>

        <ul *ngFor="let output of successfulList" [hidden]="isShow">
          <li>{{ output.info }} <a (click)="openDetail(output.requestId)"><i class="fa fa-history"
                aria-hidden="true"></i></a></li>
        </ul>
      </div>

    </form>
  </div>
</div>

<productDetailModal #productDetailModal></productDetailModal>