<div class="container-login100" style="background-image: url('../assets/images/bg-06.jpg');">
  <div class="wrap-home p-l-55 p-r-55 p-t-80 p-b-30">

    <div class="header-title">
      <span class="page-admin-title">Welcome {{ userWallet.username }}
      </span>
      <button class="btn btn-outline-danger header-button-row" (click)="logout()" type="button"><i
          class="fa fa-sign-out"></i>Logout</button>
    </div>

    <div>
      <h5>Balance available: </h5>
      <h5>Real balance: </h5>
    </div>

    <form [formGroup]="formHome" (onShown)="shown()" novalidate autocomplete="off">

      <div class="form-row">
        <div class="form-group div-align-1 item-form-control col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <label for="userChoice">Item</label>
          <ng-select #UserOptions [items]="simpleItems" id="userChoice" [(ngModel)]="userChoice"
            formControlName="userChoice" name="userChoice" placeholder="--Choose ur item--">
          </ng-select>
          <div class="valid-height">
            <validation [control]="formHome.get('userChoice')"></validation>
          </div>

          <label for="quantity">Quantity</label>
          <input name="quantity" [(ngModel)]="buyQuantity" formControlName="quantity" id="quantity" type="number"
            class="form-control item-form-control" min="1" placeholder="--Number you want--" required />
          <div class="valid-height">
            <validation [control]="formHome.get('quantity')"></validation>
          </div>
          <br />

          <button (click)="buy()" type="button" class="btn btn-primary blue btn-align" [disabled]="buyingBtn"><i
              class="fa fa-cart-arrow-down"></i>
            Buy
          </button>
        </div>

        <hr style="border: none; border-left: 1px solid #140148; height: 30vh; width: 1px;">

        <div class="form-group div-align-2 item-form-control col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <label for="amount">Amount</label>
          <input name="amount" [(ngModel)]="transferAmount" formControlName="amount" id="amount" type="number"
            class="form-control item-form-control" min="0.1" placeholder="--The amount of money--" required />
          <div class="valid-height">
            <validation [control]="formHome.get('amount')"></validation>
          </div>

          <label for="receiver">Receiver's
            Address</label>
          <input name="receiver" [(ngModel)]="transferReceiver" formControlName="receiver" id="receiver" type="text"
            class="form-control item-form-control" placeholder="--Receiver's Address--" required />
          <div class="valid-height">
            <validation [control]="formHome.get('receiver')"></validation>
          </div>

          <br />

          <button (click)="transfer()" type="button" class="btn btn-primary blue btn-align" [disabled]="transferingBtn">
            <i class="fa fa-share-square-o"></i>
            Transfer
          </button>
        </div>

      </div>



    </form>

    <!-- <form [formGroup]="formHomeTransfer" novalidate autocomplete="off">
          <div class="form-group div-align-2 item-form-control col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <label for="amount"
              [class]="formHomeTransfer.get('amount').errors && formHomeTransfer.get('amount').touched ? 'mess-error' : 'mess-ok'">Amount</label>
            <input name="amount" [(ngModel)]="transferAmount" formControlName="amount" id="amount" type="number"
              class="form-control item-form-control" min="0.1" placeholder="--The amount of money--" required />
            <div class="valid-height">
              <validation [control]="formHomeTransfer.get('amount')"></validation>
            </div>
  
            <label for="receiver"
              [class]="formHomeTransfer.get('receiver').errors && formHomeTransfer.get('receiver').touched ? 'mess-error' : 'mess-ok'">Receiver's
              Address</label>
            <input name="receiver" [(ngModel)]="transferReceiver" formControlName="receiver" id="receiver" type="text"
              class="form-control item-form-control" placeholder="--Receiver's Address--" required />
            <div class="valid-height">
              <validation [control]="formHomeTransfer.get('receiver')"></validation>
            </div>
  
            <br />
  
            <button (click)="transfer()" type="button" class="btn btn-primary blue btn-align"><i
                class="fa fa-share-square-o"></i>
              Transfer
            </button>
          </div>
  
      </form> -->

    <!-- <div class="history">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <button (click)="getListHistory()" type="button" class="btn btn-outline-primary historyBtn">
            History
          </button>
        </li>
        <li class="nav-item">
          <button (click)="getSuccessfulList()" type="button" class="btn btn-outline-success successListBtn">
            Successful Transactions
          </button>
        </li>
      </ul>

      <ul *ngFor="let transaction of listHistory" [hidden]="isDisplay">
        <li>{{ transaction }}</li>
      </ul>
      <ul *ngFor="let output of successfulList" [hidden]="isShow">
        <li>{{ output }}</li>
      </ul>
    </div> -->

    <div class="history">

      <div class="btn-group">
        <button (click)="getListHistory()" type="button" class="btn btn-outline-primary historyBtn">
          History
        </button>
        <button (click)="getSuccessfulList()" type="button" class="btn btn-outline-primary successListBtn">
          Successful Transactions
        </button>
      </div>

      <ul *ngFor="let transaction of listHistory" [hidden]="isDisplay">
        <li>{{ transaction }}</li>
      </ul>
      <ul *ngFor="let output of successfulList" [hidden]="isShow">
        <li>{{ output }}</li>
      </ul>
    </div>


  </div>
</div>