<div
  class="container-login100"
  style="background-image: url('../assets/images/bg-01.jpg');"
>
  <div class="wrap-home p-l-55 p-r-55 p-t-80 p-b-30">
    <span class="page-home-title"
      >Welcome {{ userWallet.username }}
      <a routerLink="/logout">
        <button id="logout" (click)="logout()" type="button">
          Logout
        </button>
      </a>
    </span>
    <table class="table-home">
      <tr>
        <th style="text-align: left" class="form-buying-title">
          <h3>Balance available: {{ walletBalance?.balance_available }}</h3>
        </th>
        <th style="text-align: center" class="form-buying-title">
          <h3>Real balance: {{ walletBalance?.real_balance }}</h3>
        </th>
      </tr>
      <tr>
        <td></td>
        <td style="text-align: center">Some transactions haven't done yet</td>
      </tr>
    </table>

    <form method="post" class="form-buying">
      <label for="amount" class="form-charging-title"> Item: </label>
      <ng-select
        [items]="simpleItems"
        [(ngModel)]="userchoice"
        [ngModelOptions]="{ standalone: true }"
        class="form-buying-btn"
      >
      </ng-select>

      <label for="quantity" class="form-buying-title"> Quantity: </label>
      <input
        name="quantity"
        [(ngModel)]="quantity"
        type="number"
        min="1"
        id="form-buying-quantity"
        placeholder="Number you want"
        required
        autofocus
      />
      <button (click)="buy(quantity, userchoice, walletBalance.real_balance);" type="submit" class="submit-buy-btn">Buy</button>
    </form>

    <form method="post" class="form-charging">
      <label for="amount" class="form-charging-title"> Amount: </label>
      <input
        name="amount"
        [(ngModel)]="amount"
        type="number"
        min="0.1"
        id="form-buying-quantity"
        placeholder="The amount of money"
        required
      />
      <label for="receiver" class="form-charging-title">
        Receiver's Address:
      </label>
      <input
        name="receiver"
        [(ngModel)]="receiver"
        type="text"
        id="form-buying-quantity"
        placeholder="Receiver's Address"
        required
      />
      <button (click)="transfer(amount, receiver, walletBalance.real_balance);" type="submit" class="submit-transfer-btn">Transfer</button>
    </form>

    <div class="history">
      <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
              <button (click)="getSuccessfulList();" type="button" class="btn btn-outline-primary">Pending Transactions</button>
          </li>
        <li class="nav-item">
            <button (click)="getSuccessfulList();" type="button" class="btn btn-outline-success">Successful Transactions</button>
            <ul *ngFor="let output of successfulList">
                <li *ngFor="let output of successfulList">
                    
                </li>
            </ul>
            <p id="successfulList" [hidden]="isShow">{{successfulList | json}}</p>
        </li>
        <li class="nav-item">
            <button (click)="getSuccessfulList();" type="button" class="btn btn-outline-danger">Failed Transactions</button>
        </li>
      </ul>
    </div>
  </div>
</div>
